:root {
    --font-color: #474643;
    --tertiary-color: #717572;
    --background-color: #f0f1f2;
    --content-horizontal-padding: 10px;
    --list-marker: "\2013";
    --list-marker-hover: "\2E17";
}

body {
    font-family: 'Anonymous Pro', monospace;
    width: 90vw;
    margin: 0 auto;
    background-color: #f0f1f2;

    @media (max-width: 1400px) {
        width: 90vw;
    }

    @media (max-width: 530px) {
        font-size: 1.25rem;
    }
}


main {
    padding: 10px var(--content-horizontal-padding);
    --corner-rounding: 10px;
    border-bottom-right-radius: var(--corner-rounding);
    border-bottom-left-radius: var(--corner-rounding);
    color: var(--font-color);
}

h1 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 1.5em;
}

nav {
    height: 50px;
    display: flex;
    align-items: center;
    /*background-color: var(--secondary-color);*/
    /*padding: 0 var(--content-horizontal-padding);*/
    margin: 0 auto 50px auto;
    justify-content: space-around;

    @media (max-width: 1400px) {
        width: 50%;
    }

    @media (max-width: 960px) {
        justify-content: space-between;
        width: 100%;
    }

    menu {
        width: 100%;
        display: flex;
        /*align-items: center;*/
        padding-left: 0;
        list-style-type: none;
        justify-content: start;

        li {
            padding: 0 20px 0 0;

            a {
                text-decoration: none;
                color: var(--font-color);
                padding-bottom: 5px;

            }

            a:hover {
                color: var(--font-color);
                border-bottom: solid 2px var(--font-color);
            }
        }
    }
}

ol {
    padding: 0 10px;
    li {
        list-style-type: disc;
    }
}
.posts-list {
    li {
        list-style-type: disc;
    }
}

.profile-picture {
    height: 100px;
}
